# [[ NOTE ]]
services:
  wg-easy:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "[[ wg_easy.wireguard_port ]]:[[ wg_easy.wireguard_port ]]/udp"
      - "51821:51821/tcp"
    networks:
      vpn:
        ipv4_address: [[ svc.wg_easy.ipv4 ]]
        ipv6_address: "[[ svc.wg_easy.ipv6 ]]"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    env_file:
      - ./runtime/.env
    volumes:
      - /lib/modules:/lib/modules:ro
      - ./runtime/data/wg-easy:/etc/wireguard
      - ./runtime/conf/hooks:/hooks:ro
    restart: unless-stopped

  gluetun:
    image: qmcgaw/gluetun:latest
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file:
      - ./runtime/.env
    volumes:
      - /lib/modules:/lib/modules:ro
      - ./runtime/data/gluetun:/gluetun
      - ./runtime/conf/iptables/post-rules.txt:/iptables/post-rules.txt:ro
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    networks:
      vpn:
        ipv4_address: [[ svc.gluetun.ipv4 ]]
        ipv6_address: "[[ svc.gluetun.ipv6 ]]"
    restart: unless-stopped

  adguardhome:
    image: adguard/adguardhome
    volumes:
      - ./runtime/data/adguardhome/work:/opt/adguardhome/work
      - ./runtime/conf/adguardhome:/opt/adguardhome/conf
    networks:
      vpn:
        ipv4_address: [[ svc.adguardhome.ipv4 ]]
        ipv6_address: "[[ svc.adguardhome.ipv6 ]]"
    restart: unless-stopped

  sing-box:
    build:
      context: .
      dockerfile: ./Dockerfile.sing-box
    restart: unless-stopped
    entrypoint: ["/bin/bash", "/etc/sing-box/entrypoint.sh"]
    volumes:
      - ./runtime/conf/sing-box:/etc/sing-box
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "[[ singbox.clash_api_port ]]:[[ singbox.clash_api_port ]]"
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.conf.all.rp_filter=0
      - net.ipv4.conf.default.rp_filter=0
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    networks:
      vpn:
        ipv4_address: [[ svc.singbox.ipv4 ]]
        ipv6_address: "[[ svc.singbox.ipv6 ]]"

networks:
  vpn:
    name: vpn
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: [[ network.ipv4_subnet ]]
          gateway: [[ network.ipv4_gateway ]]
        - subnet: [[ network.ipv6_subnet ]]
          gateway: [[ network.ipv6_gateway ]]
